<div class="container" style="padding-top: 5em;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form action="/edit-user/{{user._id}}" method="post">
                <legend>Edit My details</legend>

                <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" class="form-control" value="{{user.name}}" name="name" id="name" placeholder="Full Name" required>
                </div>



                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" value="{{user.email}}" name="email" id="email" placeholder="Email Address" required>
                </div>

                <div class="form-group">
                    <label for="place">Place</label>
                    <input type="text" class="form-control" value="{{user.place}}" name="place" id="place" placeholder="Place" required>
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile Number</label>
                    <input type="tel" pattern="[0-9]{10}" class="form-control" value="{{user.mobile}}" name="mobile" id="mobile" placeholder="Mobile Number" required>
                </div>


                <div class="form-group" style="display: none;">
                    <label for="status">User Status </label>
                    <select name="status" class="form-control"  id="">
                        <option value="{{user.status}}">{{user.status}}</option>
                        <option value="Active">Active</option>
                        <option value="Block">Block</option>
                        
                        {{!-- {{#if (status)}}
                        <option value="blocked">blocked</option>
                        {{else}}
                        <option value="active">active</option>
                        {{/if}} --}}

                    </select>
                </div>

                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control"   name="pw" id="pw" required>
                </div>

               

                <center><button type="submit" class="btn btn-primary">Update</button></center>
            </form>
        </div>
    </div>
</div>